---
import BaseLayout from '@/layouts/BaseLayout.astro';

import ContactCTA from '@/components/common/ContactCTA.astro';
import PortfolioPreview from '@/components/common/PortfolioPreview.astro';
import Hero from '@/components/common/Hero.astro';
import Grid from '@/components/common/Grid.astro';

import { about } from '@/i18n/ui';
import { getCurrentTranslatedSectionFromUrl, getLangFromUrl, useTranslations } from '@/i18n/utils';
import { getWorks, getCategories } from '@/sanity/queries';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const works = await getWorks(lang);
const categories = await getCategories(lang);
const translatedSection = getCurrentTranslatedSectionFromUrl(Astro.url);
---

<BaseLayout
  title={`${translatedSection} | ${about.name}`}
  description={`Learn about ${about.name}'s most recent projects`}
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero title={t('work.title')} tagline={t('work.tagline')} align="start" />
      <Grid variant="offset">
        {
          works.map((work: any) => (
            <li>
              <PortfolioPreview work={work} />
            </li>
          ))
        }
      </Grid>

      <div>
        <h4>{t('categories')}</h4>
        {categories.map((category: any) => <p>{category.title}</p>)}
      </div>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
